@tailwind base;
@tailwind components;
@tailwind utilities;

.subg{
    background-image: url('./BANK.avif');
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

.bx{
    /* background-color: rgba(0, 0, 0, 0.); */
}

.trr{
    text-align: justify;
}

.abtt{
    background-image: url('./pic 4.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.upmn{
    background-image: url('./pic 4.png');
    /* background-image: url('./SCD.png'); */
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.csv{
}